<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDUURf6VtkJTrc5C9hxTYeNgi0oD5-qGO4</string>
	<key>GCM_SENDER_ID</key>
	<string>1030433077455</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.webefriends.We-Be</string>
	<key>PROJECT_ID</key>
	<string>we-be-plus</string>
	<key>STORAGE_BUCKET</key>
	<string>we-be-plus.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1030433077455:ios:381ab213e675b3f7f89fba</string>
</dict>
</plist>